footer.foot
    div.foot__top
        div.foot__logo
            svg(width="184" height="50")
                use(xlink:href="#logo-full")
        nav.foot__navigation
            ul.foot__navigation-list
                li.foot__navigation-item
                    a.foot__navigation-link(href="")
                        |О компании
                li.foot__navigation-item
                    a.foot__navigation-link(href="")
                        |Лицензии и достижения
                li.foot__navigation-item
                    a.foot__navigation-link(href="")
                        |Отзывы
                li.foot__navigation-item
                    a.foot__navigation-link(href="")
                        |Вопросы и ответы
        div.foot__contacts
            ul.foot__contacts-list
                li.foot__contacts-item
                    span.foot__address
                        |Братьев Кашириных, 131б
                    a.foot__phone(href="tel:")
                        |+7 351 225-75-50
                li.foot__contacts-item
                    span.foot__address
                        |Воровского, 13
                    a.foot__phone(href="tel:")
                        |+7 351 225-75-10
                li.foot__contacts-item
                    span.foot__address
                        |Комсомольский проспект, 48
                    a.foot__phone(href="tel:")
                        |+7 351 225-75-50
                li.foot__contacts-item
                    span.foot__address
                        |проспект Ленина, 66
                    a.foot__phone(href="tel:")
                        |+7 351 225-75-20
    div.foot__bottom
        span.foot__site-copyright
            |ООО «Вдохновение», 2020
        div.foot__social
            ul.foot__social-list
                li.foot__social-item
                    a.foot__social-link(href="" target="_blank")
                        svg(width="16" height="10")
                            use(xlink:href="#vk")
                li.foot__social-item
                    a.foot__social-link(href="" target="_blank")
                        svg(width="14" height="14")
                            use(xlink:href="#facebook")
                li.foot__social-item
                    a.foot__social-link(href="" target="_blank")
                        svg(width="14" height="14")
                            use(xlink:href="#instagram")
                li.foot__social-item
                    a.foot__social-link(href="" target="_blank")
                        svg(width="16" height="12")
                            use(xlink:href="#youtube")
        div.foot__personal-data-link-wrapper
            a.common__link-small.foot__personal-data-link(href="")
                |Положение об обработке персональных данных
        div.developer-copyright.foot__developer-copyright
            a.developer-copyright__link(href="https://www.dextra.ru/" target="_blank")
                span.developer-copyright__name
                    |Dextra
                span.developer-copyright__hint
                    |Разработка сайта