.section__bird
    background-image url(../images/about/bird.png)
    position absolute
    top 0
    left 0
    width 100%
    background-position center
    background-size cover 
    background-repeat no-repeat
    background-color #fff
    height 1124px
    &-item
        position absolute
        top 20%
        left 20%
        transition: 4s 
        transition-timing-function: ease
        transition-delay: 0s
        transform-origin: left center
        animation-duration 10s
        animation-timing-function ease-in-out
        animation-iteration-count infinite
        &--1
            animation-name pen(100vw)
        svg  
            path 
                fill #fafafa
@media tablet-hor
    .section-bird
        display none

pen(n)
  @keyframes flyPen
    0%
      transform: translate(0, 0)
    100%
      transform: translate(0, n)


    
        
                 