.section__bird
    background-image url(../images/about/bird.png)
    position absolute
    top 0
    left 0
    width 100%
    background-position center
    background-size cover 
    background-repeat no-repeat
    background-color #fff
    height 1124px
    transform translateY(-100px)
    &-item
        position absolute
        top 0
        left 0
        transform-origin: left center
        animation rotate
        animation-duration 8s
        animation-timing-function ease-in-out
        animation-iteration-count infinite
        transition: .7s
        //  
        transform: translateY(-100px)
        &--first
            left 42%
            top 20%
            animation-delay 6s
        &--second
            left 62%
            top 31%
            animation-delay 3s
        &--thirth
            left 84%
            top 25%
            animation-delay 9s
        &--fouth
            left 52%
            top 69%
            animation-delay 1s
        &--fifth 
            left 85%
            top 48%

        &.active 
            opacity 1
            visibility visible
            transform: translate(0)

        svg 
            path 
                fill default-gray
                stroke dark-cherry
                stroke-opacity 0.1
@media tablet-hor
    .section-bird
        display none


    
        
                 