.section__bird
    position relative
    background-image url(../images/about/bird.png)
    &-item
        position absolute
        top 0
        left 0
        svg 
            path 
                fill default-gray
                stroke dark-cherry
                 