.nameplate 
    position fixed
    margin-top 60px
    top 0
    right 0
    background-color bright-cherry
    font-family default
    border none
    padding 21px 40px
    z-index 10
    transform rotate(-90deg) translateX(-100%) translateY(151%)
    &__desc 
        color white
        font-size 13px
        text-transform: uppercase
        font-weight 300
@media tablet-landscape-large 
    .nameplate 
        padding: 15px 35px
        transform rotate(-90deg) translateX(-100%) translateY(167%)
        &__desc 
            font-size 11px
@media phone 
    .nameplate 
        padding: 11px 26px
        transform rotate(-90deg) translateX(-100%) translateY(155%)
        &__desc 
            font-size 9px
            


.menu__catalog 
    position fixed
    width 100%
    top 0
    left 0
    background-color #fff
    box-shadow: 8px 13px 35px rgba(0, 0, 0, 0.05)
    z-index -1
    height 100%
    opacity 0
    visibility hidden
    transition: .3s
    &-wrap 
        position relative
        padding-top 74px
        font-family serif
        .main__wrap--biggest
            padding-top 0
    &-title 
        font-size 36px
        font-weight 300
        margin-top 0
        margin-bottom 60px
    @media tablet-hor
        &-title 
            margin-bottom 20px
    &-item 
        border-top 1px solid #e7e7e7
    &-subtitle 
        font-size 26px
        line-height 30px
        margin-top 42px
        font-weight 400
        margin-bottom 36px
        a
            text-decoration none 
            color black
    &-desc 
        font-size 15px
        line-height 19px
        margin-top 0
        margin-bottom 0
        font-weight 300
        a 
            text-decoration none 
            color black
    &-box 
        font-family default
        width calc(100%/4 - 98px)
        margin 0px 49px 24px 49px
    &-list 
        list-style-type none 
        padding-left 20px
        margin-top 12px
    &-part 
        padding-bottom 10px
        &:last-child 
            padding-bottom 0
    &-link        
        color#aaaaaa
        text-decoration none
        font-size 13px
    &-inner 
        display flex
        flex-wrap wrap 
        align-items stretch
        margin-left -49px
        margin-right -49px
        margin-bottom 23px
    .swiper-slide, .swiper-wrapper
        height auto
    &.active
        opacity 1
        visibility visible
        z-index 1000
    @media laptop
        &-wrap 
            padding-left 20px
            padding-right 20px 
        &-box 
           width: calc(100% / 2 - 98px)
    @media phone
        &-box 
           width: 100% 


.btn__close
    position absolute
    top 43px
    right 85px
    width 24px
    height 24px
    background-color transparent 
    border none 
    padding: 0
    z-index 1
    cursor pointer
    transition: .3s
    svg  
        width 100%
        height 100%
    &:hover
        transform rotate(90deg) 
@media phone 
    .btn__close
        right 30px

.swiper-scrollbar-drag
    background-color bright-cherry
    width: 6px;
    border-radius: 0



        

 
        
        





        