.em__profile 
    display flex
    align-items flex-start
    margin-top 85px
    &-photo
        display flex
        width 100%
        max-width 300px
        img 
            width 100%
    &-inner
        display flex
        flex-direction column 
        width calc(100% - 300px) 
        color black
        padding-left 100px
        .common__button
            max-width 380px
    &-name  
        display block
        margin-top 20px
        font-family serif 
        font-size 96px
        line-height 100px

    &-about
        font-size 26px
        line-height 34px
        margin-top -33px
        display block
        margin-bottom 34px
        