.quiz
    position relative 
    z-index 22
    &__wrap 
        position relative
        background-color default-cherry
        overflow hidden
        margin-top 100px
        &:after 
            content: ''
            position absolute
            background-image url(../images/pattern-resourses.png)
            width 706px
            height 504px
            top 0
            right 0
            background-position center 
            background-repeat no-repeat
            background-size contain
            transform translateX(-22%) translateY(-27%)
    @media desktop-medium
        &__wrap
            padding 25px 64px 28px 64px
    @media laptop
        &__wrap
            padding 20px 64px 23px 64px
    @media tablet-landscape-large
        &__wrap
            padding 20px 40px 23px 40px
    @media tablet-landscape-small
        &__wrap:after 
            width 90%
            padding-bottom 100%
            margin-left auto
            margin-right auto
            transform translateX(0) translateY(-50%)
    @media tablet-portrait
        &__wrap
            padding 20px 30px 23px 30px
    @media phone
        &__wrap
            padding 20px 20px 23px 20px
    &__inner 
        position relative
        z-index 1
    &__step 
        position absolute 
        width 100%
        opacity 0
        z-index -1
        visibility hidden
        padding-top 61px
        padding-bottom 66px
        cursor pointer
        &.active
            position relative
            z-index 1
            opacity 1
            visibility visible
    @media tablet-landscape-small
        &__step 
            padding-top 100px

    &__part
        display flex
        flex-direction column 
    &__top
        display flex
        align-items center
        justify-content space-between
        margin-bottom 64px
    &__title
        font-size 36px
        color white 
        font-weight 300
        margin: 0
    &__count
        position absolute
        right 0
        top: 55px 
        display flex
        align-items center
        color white 
        font-size 32px
        &--current
            &:after 
                content '/' 
    @media tablet-landscape-small
        &__count 
            top 34px
    &__button 
        display flex
        flex-direction: column
        align-items center
        margin-bottom 12px
        margin-right 12px
        &:last-child 
            margin-right 0
        span 
            padding-top 65px
        &-inner 
            display flex
            flex-wrap: wrap
        &--icon 
            width 296px 
            &:after 
                content ''
                float left 
    @media phone-portrait
        &__button 
            margin-right 0
            width 100%
    &__result
        position relative
        width calc(100%/2 - 42px)
        margin: 21px
        border-top: 1px solid rgba(255,255,255,.15)
        padding: 35px 0px 40px 49px
        margin-bottom 50px
        transition: .5s 
        &-inner 
            display flex
            flex-wrap wrap
            align-items stretch
            margin-left -21px
            margin-right -21px
        @media phone-portrait
            &-inner
                margin-left 0
                margin-right 0
        &-link 
            color: white
            font-size: 26px
            line-height 30px
            text-decoration none 
        &-box 
            position absolute
            bottom: 0
            left 0
            padding-left 50px
            width 100%
            font-family default 
            font-size 15px
            line-height: 25px
            color: white 
            opacity 0
            overflow hidden
            bottom: 0
            transform: translateY(calc(100% - 39px));
            transition: opacity .5s ease 0s
            background-color gray-cherry
            visibility hidden
        @media tablet-landscape-small
            &-box 
                position unset 
                margin-top 35px
                transform: translateY(0)
                visibility visible
                opacity 1
        &-price 
            font-size: 24px
            font-family serif
            display block
            padding-bottom 40px
        &:hover 
            background-color gray-cherry
            .quiz__result-box
                opacity 1
                visibility visible
    @media  tablet-landscape-small
        &__result 
            padding: 20px
            background-color gray-cherry
    @media phone-portrait
        &__result
            margin-left 0
            margin-right 0 
            width 100%
            padding-left 20px
            margin-bottom 20px
            &-box 
                padding-left 20px


                


.btn__forward 
    position absolute
    background-color transparent 
    border none
    padding 0
    height 18px
    width 35px
    transform: rotate(-90deg)
    top: 74px
    left -100px
    svg  
        width 100%
        height 100%
        path 
            fill white
    &:disabled 
        display none
@media tablet-landscape-small
    .btn__forward 
        top 40px
        left 0

        

