.quiz
    position relative 
    z-index 22
    &__wrap 
        position relative
        background-color default-cherry
        margin-top 100px
    &__backdrop 
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        overflow hidden
        &:after 
            content: ''
            position absolute
            background-image url(../images/pattern-resourses-quiz.png)
            width 706px
            height 504px
            top 0
            right 300px
            background-position center 
            background-repeat no-repeat
            background-size contain
            transform translateX(-22%)
    @media desktop-medium
        &__wrap
            padding 0px 64px 0px 64px
    @media laptop
        &__wrap
            padding 0px 64px 0px 64px
    @media tablet-landscape-large
        &__wrap
            padding 0px 40px 0px 40px
    @media tablet-landscape-small
        &__wrap:after 
            width 90%
            padding-bottom 100%
            margin-left auto
            margin-right auto
            transform translateX(0) translateY(-50%)
    @media tablet-portrait
        &__wrap
            padding 20px 30px 23px 30px
    @media phone
        &__wrap
            padding 20px 20px 23px 20px
    &__inner 
        position relative
        z-index 1
    &__step 
        position absolute 
        width 100%
        opacity 0
        z-index -1
        visibility hidden
        padding-bottom 66px
        cursor pointer
        &.active
            position relative
            z-index 1
            opacity 1
            visibility visible
    &__part
        display flex
        flex-direction column 
    &__top
        display flex
        align-items center
        justify-content space-between
        margin-bottom 64px
        &--result
            margin-bottom 44px
    &__title
        font-size 36px
        color white 
        font-weight 300
        margin: 0 
    @media laptop 
        &__title
            font-size 32px 
            line-height 36px      
    &__count
        position absolute
        right -2px
        top 3px
        display flex
        align-items center
        color white 
        font-size 32px
        &--current
            &:after 
                content '/' 
    @media tablet-landscape-small
        &__count 
            top -67px
    &__button 
        display flex
        flex-direction: column
        align-items center
        margin-bottom 12px
        margin-right 20px
        letter-spacing 3.12px
        &:last-child 
            margin-right 0
        span 
            padding-top 65px
        &-inner 
            display flex
            flex-wrap: wrap
        &--icon 
            width 296px 
            padding: 90px 20px 20px 20px
            &:after 
                content ''
                float left 
    @media phone-portrait
        &__button 
            margin-right 0
            width 100%
    &__result
        position relative
        width calc(100%/2 - 42px)
        margin: 21px
        border-top: 1px solid rgba(255,255,255,.15)
        padding 34px 0px 41px 53px
        margin-bottom -17px
        transition: .5s 
        &-inner 
            display flex
            flex-wrap wrap
            align-items stretch
            margin-left -21px
            margin-right -21px
        @media phone-portrait
            &-inner
                margin-left 0
                margin-right 0
        &-link 
            color: white
            font-size: 26px
            line-height 30px
            text-decoration none 
        &-box 
            position absolute
            bottom: 0
            left 0
            padding-left 50px
            padding-right 40px
            width 100%
            font-family default 
            font-size 15px
            line-height: 25px
            color: white 
            opacity 0
            overflow hidden
            bottom: 0
            transform: translateY(calc(100% - 39px));
            transition: opacity .5s ease 0s
            background-color gray-cherry
            visibility hidden
        @media tablet-landscape-small
            &-box 
                position unset 
                margin-top 35px
                transform: translateY(0)
                visibility visible
                opacity 1
        &-price 
            font-size: 24px
            font-family serif
            display block
            padding-bottom 40px
            padding-top 6px
        &:hover 
            background-color gray-cherry
            .quiz__result-box
                opacity 1
                visibility visible
    @media  tablet-landscape-small
        &__result 
            padding: 20px
            background-color gray-cherry
            &-box 
                padding-left 0px
                margin-top 5px
    @media phone-portrait
        &__result
            margin-left 0
            margin-right 0 
            width 100%


                


.btn__forward 
    position absolute
    background-color transparent 
    border none
    padding 0
    height 18px
    width 35px
    transform: rotate(-90deg)
    top 88px
    left 49px
    svg  
        width 100%
        height 100%
        path 
            fill white
    &:disabled 
        display none
@media screen and (max-width: 1550px)
    .btn__forward
        left 32px
@media laptop 
    .btn__forward 
        top 103px
        left 59px
@media tablet-landscape-medium
    .btn__forward 
        left 20px
@media screen and (max-width: 1100px)
    .btn__forward
        left 33px
        top 37px
@media phone
    .btn__forward 
        left 15px
        top 54px

        

