.tabs
    margin-top 90px
    &__wrap 
        display flex
        align-items stretch 
        margin-top 27px
    &__switch 
        display flex
        flex-direction: column
        list-style-type: none
        max-width: 298px
        width 100%
        padding 0
        margin-top: 35px;
    @media tablet-portrait
        &__switch 
            max-width: 100%
    &__button 
        background-color white
        transition: .3s
        color black
        font-size 20px
        padding: 20px 30px
        border: none
        width 100%
        text-align: left
        &:hover, &.active 
            background-color bright-cherry
            color: white 
    &__inner 
        position relative
        width 100%
        table
            width 100%
        &-item 
            position absolute
            padding-left 48px
            padding-top 3px
            opacity 0
            z-index -1
            top 0
            left 0
            width 100%
            visibility hidden
            transition: .3s
            &.active
                position relative
                opacity 1
                z-index 1
                visibility visible
            .main__content
                p 
                    margin-bottom 0
                table 
                    margin-top 26px
@media tablet-portrait
    .tabs 
        &__wrap 
            flex-wrap wrap
        &__switch
            justify-content space-between
            flex-wrap: wrap 
            flex-direction: row
        &__item
            width 48%
            margin-bottom 10px
        &__inner
            &-item 
                padding-left 0
@media phone
    .tabs 
        &__switch
            flex-direction: column
        &__item
            width 100%
            margin-bottom 10px
        
    


    
     
        