.contacts
    padding 0
    display flex
    flex-wrap wrap
    align-items stretch
    list-style-type none
    margin-left -74px
    margin-right -74px
    margin-bottom -30px

    &__item
        width calc(100%/2 - 190px)
        margin-left 74px
        margin-right 74px
        margin-bottom 60px
    @media tablet-landscape-small
        &__item 
            width 100%
            margin-left 0
            margin-right 0
    &__link 
        text-decoration none 
        color black
        font-size 36px
        line-height 40px
        span 
            border-bottom 1px solid rgba(0,0,0,0.25)
            transition border-bottom-color .3s
        &:hover
            span 
                border-bottom-color transparent
    @media phone 
        &__link
            font-size 28px;
            line-height 32px
    &__info 
        display block
        font-size 15px
        font-family default
        margin-top 20px
        line-height 25px
@media laptop
    .contacts
        margin-left -40px
        margin-right -40px 
        &__item 
            width calc(100%/2 - 80px)
            margin-left 40px
            margin-right 40px
@media tablet-portrait
    .contacts
        margin-left 0px
        margin-right 0px 
        &__item 
            width 100%
            margin-left 0px
            margin-right 0px

.requisites
    font-family serif
    margin-bottom: 53px
    margin-top -8px
    &__title
        font-size 36px
        font-family serif
        font-weight 300
    @media phone
        &__title
            font-size 32px
            line-height 36px
            text-align: center
    &__list 
        display flex
        flex-wrap wrap
        align-items center
        padding 0
        margin-top 55px
    @media phone
        &__list 
            flex-direction column 
            align-items flex-start
    &__item 
        margin-right 50px
        display flex
        align-items center
        font-size 26px
        margin-bottom 38px
        &-title 
            padding-right 10px
            color middle-gray
            white-space: nowrap
    @media phone
        &__item 
            flex-direction column 
            align-items flex-start
@media phone 
    .requisites
        margin-top -30px






