.employers
    &__inner
        display flex
        align-items stretch
        flex-wrap wrap
        margin 53px -82px 0 -82px
    @media laptop
        &__inner
            margin-left -40px
            margin-right -40px
    @media tablet-landscape-large
        &__inner
            margin-left 0
            margin-right 0
    &__wrap 
        padding 0 44px
    @media tablet-portrait
        &__wrap 
            padding 0
    &__link 
        display flex
        flex-direction column
        text-decoration none
        position relative
        z-index 1
    &__name
       letter-spacing 3.12px
       line-height 23px 
       color black
       font-size 13px
       text-transform uppercase
       text-align center
       display block
       padding: 40px 40px 20px 40px
    @media phone-portrait
        &__name
            padding-left 0
            padding-right 0
    &__img
        height 400px
        display flex
        align-items flex-end
        img 
            width 100%
            height 100%
            object-fit contain
            object-position bottom
    @media tablet-hor
        &__img
            height auto
    &__item
        width calc(100%/3 - 164px)
        margin: 0 81px 72px 81px
        position relative
        &:hover .employers__pattern-item
            opacity 1
            animation-play-state running 
    
    @media tablet-landscape-large
        &__item
            margin-left 20px
            margin-right 20px
            width: calc(100% / 3 - 40px)
    @media tablet-landscape-medium
        &__item
            width: calc(100% / 2 - 40px)
    @media tablet-hor
        &__item
            width 100%
    &__position
        font-size 15px
        color black
        width 100%
        text-align center
        font-family default
    &__title
        font-size 50px
        font-family serif
    &__pattern
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        &-item
            position absolute
            background-position center
            background-size contain
            background-repeat no-repeat
            animation-name services-decoration-rotation
            animation-duration 25s
            animation-timing-function linear
            animation-iteration-count infinite
            animation-play-state paused 
            opacity 0
            transition opacity 0.5s 0s ease

            &--1
                width 67px
                height 67px
                background-image url(../images/employers/pen1.png)
                top 50%
                left -24px
                animation-direction reverse
            &--2
                width 101px
                height 101px
                background-image url(../images/employers/pen2.png)
                top 37%
                right -100px
            &--3
                width 177px
                height 177px
                background-image url(../images/employers/pen3.png)
                top 10%
                animation-direction reverse
    @media tablet-landscape-medium
        &__pattern
            display none



    