.error__block
    width 100%
    background-color default-cherry
    &-inner
        display flex
        flex-direction column
        justify-content center
        font-family serif
        color white
        text-align center
        max-width 550px
        align-items center
        height 100vh
        margin-left auto
        margin-right auto
    @media tablet-landscape-large
        &-inner
            height unset
            padding-top 100px
            padding-bottom 100px
    @media phone
        &-inner
            padding-top 70px
    &-title
        display block
        font-size 200px
        margin-bottom 35px
        text-transform uppercase
    @media phone-portrait
        &-title
            font-size 150px
    
    &-subtitle 
        display block
        margin-bottom 30px
        font-size 42px
        line-height 46px
    @media phone-portrait
        &-subtitle
            font-size 35px
            margin-bottom 0
    @media phone
        &-subtitle
            font-size 30px
    &-text 
        font-size 24px
        line-height 32px
        a
            color white 
            text-decoration none
            span
                border-bottom 1px solid white
                transition border-bottom-color .3s
            &:hover
                span 
                    border-bottom-color transparent

    
