.expert
    display flex
    align-items flex-start
    position relative
    background-color #ffffff
    &__wrap 
        margin-top 73px
    &__image
        position absolute
        bottom 0
        right 190px
        img
            display block
    
    &__inner
        display flex
        align-items flex-start
        flex-direction column 
        justify-content space-between
        max-width 713px
        padding 20px 0 35px 49px
    &__text 
        font-size 26px
        line-height 30px
        color #382f2d
        margin-bottom 40px
    &__info 
        list-style-type none
        display flex
        align-items center
        padding: 0
        margin-top 157px
        &-link
            position relative
            color: black
            display flex
            align-items center
            text-decoration none
            font-family default
            font-size 15px
            transition: color .3s
            & span:after
                content: "";
                position: absolute;
                top: 19px;
                left: 0;
                display: block;
                width: 0;
                height: 1px;
                background-color: #382f2d;
                opacity: 0.25;
                -webkit-transition: width 0.5s 0s ease;
                transition: width 0.5s 0s ease;
            span 
                position relative
            &:hover span:after
                width 100%
        &-item
            margin-right 30px
            &:last-child
                margin-right 0
        &-icon 
            width 29px
            height 29px
            margin-right 10px
    @media screen and (max-width: 1280px)
        &__info 
            flex-direction column
            align-items flex-start
            margin-top 30px
            &-item
                margin-bottom 15px
    &__name 
        display flex
        align-items flex-start
        flex-direction column
        &-wrap
            font-family default
            position absolute
            font-size 15px
            right 0
            bottom 0
            transform: rotate(-90deg) translateX(73%)
    &__position
        color #aaaaaa
    &__pattern
        width 563px
        height 425px
        background-image url(../images/pattern-prm.png)
@media tablet-landscape-small
    .expert
        &__inner 
            padding-left 10px
            padding-right 10px
        &__info
            &--mobile 
                display block
        &__name
            &-wrap 
                position relative
                transform: none
                margin-top 40px
                margin-bottom 30px
                &--desctop 
                    display none
        &__image 
            width 200px
            height 200px
            top 40px
            right 70px
            overflow hidden
            border-radius: 50%
            &--desctop 
                display none
            img 
                display block
                object-fit: fill 
                width 100%
            &--mobile
                position unset
        &__pattern 
            display none
    
                

        
    



