.gallery
    &__inner
        display flex
        align-items stretch
        flex-wrap wrap
        margin: 0 -12px
    &__item
        position relative
        text-decoration: none
        width calc(100%/5 - 24px)
        margin 11px
        background-position center
        background-size cover
        background-repeat no-repeat
        border 1px solid #e7e7e7
        img
            display block
            width 100%
            object-fit contain
        iframe 
            display none
        &--ser
            background-size: contain
            height unset
            display flex
            align-items center
            justify-content center
            &:after
                content ''
                float left 
                padding-bottom 100%
            img 
                margin-left auto
                margin-right auto
                display block
        &--popup 
            height unset
            background-image none
            img 
                display block
                margin auto 
                padding 11px
        &--video:after
            content: 'Видео'
            display block
            position absolute
            bottom: 20px
            left 20px
            font-family default 
            color black 
            background-color white 
            font-size: 13px
            border-radius: 17px
            padding: 9px 17px
        &--map:after
            content: 'Виртуальный тур'
            display block
            position absolute
            bottom: 20px
            left 20px
            font-family default 
            color black 
            background-color white 
            font-size: 13px
            border-radius: 17px
            padding: 9px 17px
    @media tablet-portrait
        &__inner 
            margin: 0 -6px
        &__item 
            width: calc(100%/3 - 12px)
            margin: 6px
    @media phone
        &__item 
            width: calc(100%/2 - 6px)
            margin: 3px
        &__item
            &--popup 
                height unset

@media tablet-landscape-large
    .gallery
        padding-left 20px
        padding-right 20px


        