.gallery
    &__inner
        display flex
        flex-wrap wrap
        margin: 0 -12px
    &__item
        width calc(100%/5 - 24px)
        margin 12px
        height 164px
        background-position center
        background-size cover
        background-repeat no-repeat
        border 1px solid #e7e7e7

        &--popup 
            height unset
            img 
                display block
                margin auto 
                padding 11px


        