.history 
    margin-top 93px
    margin-bottom 69px
    &__title 
       font-size 50px
       line-height 54px
       font-family serif 
       display block
       margin-bottom 58px
    @media screen and (max-width: 1366px)
        &__title 
            font-size 42px
            line-height 46px
    @media phone-portrait
        &__title
            font-size 36px
    @media phone
        &__title
            font-size 30px
            line-height 34px
    &__item
        display flex
        border-top 1px solid #e7e7e7
        &-text 
            position relative
            padding 3px 100px 8px 0
            width 100%
            width 88%
            font-size 26px
            line-height 34px
            &:after
                content ''
                position absolute
                top 0
                right 0
                height 80%
                width 1px
                background-color #e7e7e7
        &-date 
            width 100%
            max-width 221px
            padding-top 8px
            padding-left 10px
            padding-right 10px
            text-align: center
            span 
                font-family serif
                font-size 60px
    @media phone-portrait
        &__item
            &-text
                font-size 18px
                line-height 22px
                padding: 3px 30px 8px 0
                width 100%
            &-date 
                max-width: 150px
                span
                    font-size: 34px
    @media phone
        &__item
            &-text
                font-size 14px
                line-height 18px
                padding: 10px 10px 10px 0
            &-date 
                max-width: 100px
                span 
                    font-size: 26px;

       
        