.main
    &__wrap
        max-width: 992px
        margin-left auto
        margin-right auto
        padding-top 90px
    &__content
        font-family serif
        color black
    &__title
        font-size 90px
        font-weight 400
        line-height 94px
    p
        font-size 24px
        line-height 32px
    h2
        font-size 60px
        font-weight 400
    h3
        font-size 42px
        line-height 46px
        font-weight 400
    ul
        list-style-type none
        padding 0
        li
            display flex
            align-items flex-start
            font-size 24px
            margin-bottom 17px
            &:last-child
                margin-bottom 0
            &:before
                content: ''
                display block
                width 100%
                max-width: 25px
                height 1px
                background-color bright-cherry
                margin-right 10px
                position relative
                top 13px
    table
        border 1px solid #e7e7e7
        background-color default-gray
        font-size 20px
        font-weight 400
        border-collapse: collapse
        text-align: left 

        td, th 
            border-bottom 1px solid #e7e7e7
            border-left 1px solid #e7e7e7
            padding 23px
            font-weight 400
        th
            white-space nowrap







