.special
    margin-top 80px
    &__slider 
        &-inner
            position relative
            margin-top 70px
        &.swiper-container-autoheight
            align-items stretch
            height unset
    &__item
        display flex
        flex-direction column 
        align-items center
    &__title
       letter-spacing 3.12px
       line-height 23px 
       color black
       font-size 13px
       text-transform uppercase
       text-align center
       display block
       padding: 0px 40px 20px 40px
    @media phone
        &__title 
            padding: 20px 0
    &__img 
        height 400px
        display flex
        align-items flex-end
        position relative
        overflow hidden
        svg 
            position absolute
            bottom: 0
            transform: translateY(50%)
            path 
                fill #fafafa
    @media tablet-hor
        &__img 
            height auto
            img 
                width 100%
    &--inner 
        margin-top 17px

    