sectiom.before-after__popup.swiper-container.js-popup-scroll
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    h1.main__title Вакуумно-роликовый массаж. До и после
                    .popup__info
                        ul.popup__info-list
                            li.popup__info-item
                                span.popup__info-title Проблема
                                a.popup__info-link 
                                    span Возрастные изменения фигуры
                            li.popup__info-item
                                span.popup__info-title Пол
                                a.popup__info-link 
                                    span Женский
                            li.popup__info-item
                                span.popup__info-title Услуга
                                a.popup__info-link 
                                    span Механическая дермотония
                            li.popup__info-item
                                span.popup__info-title Аппарат
                                a.popup__info-link 
                                    span «5 в 1»
                    .before-after__popup-container
                        .before-after__part(style="background-image: url(images/before-after/01-before.jpg)")
                            span.before-after__desc До
                        .before-after__part(style="background-image: url(images/before-after/01-after.jpg)")
                            span.before-after__desc После
                    section.gallery
                        .main__content.gallery__content
                            h2.gallery__title Jeternel сегодня 
                            ul.gallery__list
                                li 
                                    |Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний;
                                li
                                    |Комплексный сервис: от базового ухода до революционных косметологических новаций;
                                li 
                                    |Самое большое количество оригинального оборудования для эстетической медицины в Челябинске;
                                li 
                                    |Самый широкий выбор косметологических препаратов последнего поколения;
                                li 
                                    |Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира;
                                li
                                    |Высокий уровень сервиса в соответствии с мировыми стандартами.
                            p Группа компаний Jeternel стоит на страже красоты и здоровья с 1998 года. В 2009 году самые передовые и прогрессивные технологии в косметологии были выделены в отдельное направление работы. Так появилась Лаборатория красоты Jeternel.
                            p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Комплексный сервис: от базового ухода до революционных косметологических новаций. Самое большое количество оригинального оборудования для эстетической медицины в Челябинске. Самый широкий выбор косметологических препаратов последнего поколения. Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                            p Все аппараты и косметические средства имеют необходимые лицензии, сертификаты качества и регистрационные удостоверения.
                        .gallery__inner.js-gallery
                            a(href="images/today/today1.png" style="background-image: url(images/today/today1.png)").gallery__item
                                img(src="images/today/today1.png" alt="gallery1")
                            a(href="images/today/today2.png" style="background-image: url(images/today/today2.png)").gallery__item
                                img(src="images/today/today2.png" alt="gallery2")
                            a(href="images/today/today3.png" style="background-image: url(images/today/today3.png)").gallery__item
                                img(src="images/today/today3.png" alt="gallery3")
                            a(href="images/today/today4.png" style="background-image: url(images/today/today4.png)").gallery__item
                                img(src="images/today/today4.png" alt="gallery4")
                            a(href="images/today/today5.png" style="background-image: url(images/today/today5.png)").gallery__item
                                img(src="images/today/today5.png" alt="gallery5")
                            a(href="images/today/today6.png" style="background-image: url(images/today/today6.png)").gallery__item
                                img(src="images/today/today6.png" alt="gallery6")
                            a(href="images/today/today7.png" style="background-image: url(images/today/today7.png)").gallery__item
                                img(src="images/today/today7.png" alt="gallery7")
                            a(href="https://www.youtube.com/embed/E83DVERrmUk?autoplay=1&amp;loop=1&amp;mute=1&amp" style="background-image: url(images/today/today1.png)").gallery__item
                                <iframe src="https://www.youtube.com/embed/E83DVERrmUk?autoplay=1&amp;loop=1&amp;mute=1&amp" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    .popup__close
                        button.common__button.common__button--gray-cherry.js-close-popup Закрыть
                    button.btn__close.js-close-popup
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#382f2d" d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
    .swiper-scrollbar
    

