section.cookies.js-shown-cookie
    .main__wrap--biggest
        .cookies__inner
            p.cookies__desc Для повышения удобства сайта мы используем cookies. Оставаясь на сайте, Вы соглашаетесь 
                a(href="#") с политикой их применения.
            button.common__button.common__button--gray-cherry.js-close-cookies Принимаю







