section.cookies.js-shown-cookie
    .main__wrap--window
        .cookies__inner
            p.cookies__desc Для повышения удобства сайта мы используем cookies. Оставаясь на сайте, Вы соглашаетесь c 
                a(href="#") политикой их применения.
            button.common__button.common__button--gray-cherry.js-close-cookies.common__button--small Принимаю







