.faq__inner
    .faq__item 
        .faq__box.js-open-faq
            button.faq__title 
                span Как правильно пользоваться масками для лица? Как часто ими можно пользоваться?
            .faq__container 
                p.faq__text Обычно маски для лица делают 1-2 раза в неделю, а в целях профилактики — 1 раз в десять дней. Если нужно усиленное воздействие на истощенную и проблемную кожу, то частоту применения увеличивают до 3 раз в неделю или делают курс масок.
                .faq__bottom
                    .faq__auth
                        .faq__auth-profile(style="background-image: url(images/faq.png)")
                        .faq__auth-inner
                            span.faq__auth-name Константинопольская Ольга
                            span.faq__auth-position врач-косметолог
                    .faq__date 
                        span 18.03.2020
    .faq__item 
        .faq__box.js-open-faq
            button.faq__title 
                span Как происходит естественное очищение кожи?
            .faq__container 
                p.faq__text Обычно маски для лица делают 1-2 раза в неделю, а в целях профилактики — 1 раз в десять дней. Если нужно усиленное воздействие на истощенную и проблемную кожу, то частоту применения увеличивают до 3 раз в неделю или делают курс масок.
                .faq__bottom
                    .faq__auth
                        .faq__auth-profile(style="background-image: url(images/faq.png)")
                        .faq__auth-inner
                            span.faq__auth-name Константинопольская Ольга
                            span.faq__auth-position врач-косметолог
                    .faq__date 
                        span 18.03.2020
    .faq__item
        .faq__box.js-open-faq
            button.faq__title 
                span Косметологические процедуры улучшают внешний вид. Не создают ли они других, скрытых проблем?
            .faq__container 
                p.faq__text Обычно маски для лица делают 1-2 раза в неделю, а в целях профилактики — 1 раз в десять дней. Если нужно усиленное воздействие на истощенную и проблемную кожу, то частоту применения увеличивают до 3 раз в неделю или делают курс масок.
                .faq__bottom
                    .faq__date 
                        span 18.03.2020
.faq__button
    button.common__button Все вопросы