section.history
    .history__container
        span.history__title Образование и профессиональная переподготовка
        .history__inner
            .history__item 
                .history__item-text 
                    p ФГБОУ ВО ЮУГМУ Минздрава России. Дополнительная профессиональная программа «Организация внутреннего контроля качества и безопасности медицинской деятельности».
                    p Институт красоты Jeternel. Теоретический курс на тему:«Физические основы действий лазеров в эстетической медицине». Преподаватель: Радецкая Л.И.
                    p «Центр косметологии и пластической хирургии имени С.В. Нудельмана» г. Екатеринбург. Стажировка по теме «Реабилитация пациентов после пластических операций».
                .history__item-date
                    span 2018
            .history__item 
                .history__item-text 
                    p ФГБОУ ВО ЮУГМУ Минздрава России. Дополнительная профессиональная программа «Организация здравоохранения и общественное здоровье».
                    p Российский Университет Дружбы Народов. Факультет Повышения Квалификации Медицинских Работников. Кафедра Эндокринологии. Клиника профессора Калинченко. Обучение в рамках цикла «Эндокринные аспекты репродуктивного здоровья».
                    p Симпозиум DEKA LASER PROF MEETING «Дайджест успешных алгоритмов в практической косметологии: лазеры, инъекции, нити».
                .history__item-date
                    span 2017
            .history__item 
                .history__item-text 
                    p ПАО «Институт Стволовых Клеток Человека». Прошла курс обучения для врачей – косметологов и дерматокосметологов по программе «SPRS – ТЕРАПИЯ», получила необходимые навыки для предоставления услуги «SPRS – ТЕРАПИЯ», а так же успешно прошла тренинг по забору биоптата и введения SPRS- препарата.
                    p «Клиника СЛ» Казань. Семинар – практикум «Внедрение системы менеджмента качества – модель эффективного управления клиникой от теории к практике. Создание конкурентоспособной косметологической клиники».
                    p Центр консалтинга «Паритет Профит». Обучение на семинаре «Развитие управленческих навыков руководителя».
                    p Обучающий семинар в Laboratoires Gernetic Synthese Замок Энсуле, Беро, Франция.
                .history__item-date
                    span 2016
        .see__more
            button.common__button Показать еще

