button.nameplate.js-open-catalog
    span.nameplate__desc Навигация по разделу
section.menu__catalog.swiper-container.js-menu-catalog.js-popup-scroll
    .menu__catalog-part.swiper-wrapper
        button.btn__close.js-close-catalog
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#382f2d" d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
        .menu__catalog-wrap.swiper-slide
            .main__wrap--biggest
                h2.menu__catalog-title Косметология
                .menu__catalog-item 
                    h3.menu__catalog-subtitle 
                        a(href="#") Медицинская косметология
                    .menu__catalog-inner
                        .menu__catalog-box
                            h4.menu__catalog-desc Лазерные технологии
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Фракционный лазер Nordlys
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Фракционный лазер ClearBrilliant
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Диодный лазер MeDiostar NeXT
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Неодимовый лазер Friendly Light Neo
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link ФДТ
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Диодный лазер Magic One
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Лазерная биоревитализация
                        .menu__catalog-box
                            h4.menu__catalog-desc Инъекционная косметология
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Инъекционные методики
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Ботулинотерапия
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Клеточные технологии
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Плацентарная терапия
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Контурная пластика
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Коллагенотерапия
                        .menu__catalog-box
                            h4.menu__catalog-desc Фото технологии
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Фотосистема Minisilk
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Nordlys IPL
                        .menu__catalog-box
                            h4.menu__catalog-desc Консультация врача-косметолога с диагностикой кожи Альтеро-терапия
                        .menu__catalog-box
                            h4.menu__catalog-desc Альтеро-терапия
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link SMAS-лифтинг Ulthera
                        .menu__catalog-box
                            h4.menu__catalog-desc Тредлифтинг
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link 3D моделирование нитями
                .menu__catalog-item 
                    h3.menu__catalog-subtitle 
                        a(href="/") Коррекция фигуры
                    .menu__catalog-inner
                        .menu__catalog-box
                            h4.menu__catalog-desc 
                                a(href="#") Дренаж тела
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Лимфодренажный массаж
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Антицеллюлитный массаж
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Электромиостимуляция тела
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Прессотерапия
                        .menu__catalog-box
                            h4.menu__catalog-desc 
                                a(href="#") Расщепление жира
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Ударно-волновая терапия Дуолит
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Мезотерапия для тела
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Инъекции озона
                        .menu__catalog-box
                            h4.menu__catalog-desc 
                                a(href="#") Формирование силуэта
                            ul.menu__catalog-list
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link RF-лифтинг тела
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Механическая дермотония
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Обертывание «Идеальные формы»
                                li.menu__catalog-part
                                    a(href="#").menu__catalog-link Обертывание «Живые водоросли»
                        .menu__catalog-box
                            h4.menu__catalog-desc Мощный универсальный аппарат 5 в 1
                .menu__catalog-item 
                    h3.menu__catalog-subtitle SPA оздоровление
                    .menu__catalog-inner
                        .menu__catalog-box
                            h4.menu__catalog-desc 
                                a(href="#") Ортосоматический (остеопатический) массаж
                        .menu__catalog-box
                            h4.menu__catalog-desc 
                                a(href="#") SPA массаж
                        .menu__catalog-box
                            h4.menu__catalog-desc Релаксирующий массаж
                        .menu__catalog-box
                            h4.menu__catalog-desc Общий оздоравливающий массаж
                        .menu__catalog-box
                            h4.menu__catalog-desc 
                                a(href="#") Обертывание GERnetic
                .menu__catalog-item 
                    h3.menu__catalog-subtitle Косметология для мужчин
                    .menu__catalog-inner
                        .menu__catalog-box
                            h4.menu__catalog-desc Устранение морщин
                        .menu__catalog-box
                            h4.menu__catalog-desc Подтяжка кожи/лифтинг
                        .menu__catalog-box
                            h4.menu__catalog-desc Релаксирующий массаж
                        .menu__catalog-box
                            h4.menu__catalog-desc Удаление сосудов
                        .menu__catalog-box
                            h4.menu__catalog-desc Эпиляция
                        .menu__catalog-box
                            h4.menu__catalog-desc Устранение морщин
                        .menu__catalog-box
                            h4.menu__catalog-desc Акне
                        .menu__catalog-box
                            h4.menu__catalog-desc Генетическое тестирование организма
                        .menu__catalog-box
                            h4.menu__catalog-desc Лабораторное обследование 
                        .menu__catalog-box
                            h4.menu__catalog-desc Чистка лица
                        .menu__catalog-box
                            h4.menu__catalog-desc Удаление новообразований
    .swiper-scrollbar
    









