section.popup.popup--main.js-popup.js-popup-scroll(data-popup="consult")
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    button.popup__close--main.js-popup-close
                        <svg xmlns="http://www.w3.org/2000/svg"><path d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
                    .form__wrap.form__wrap--popup
                        form.form(action="").js-form
                            .form__inner
                                span.form__title Записаться на прием
                                .form__box
                                    ul.form__group(role="none")
                                        li.form__group-item
                                            label.form__item(for="name")
                                                input(type="text" data-req name="name" autocomplete="off").form__input
                                                span.form__label Имя
                                        li.form__group-item
                                            label.form__item
                                                input(type="text" data-req name="name" autocomplete="off").form__input.js-input-phone.js-phone-mask
                                                span.form__label Телефон
                                    .form__checkbox
                                        .form__item.custom__checkbox-wrap
                                            input(type="checkbox" data-req).custom__checkbox
                                            label.custom__checkbox-label Согласен на обработку персональных данных
                                    button.common__button.common__button--gray-cherry(type="submit") Записаться
    .swiper-scrollbar


section.popup.popup--main.js-popup.swiper-container.js-popup-scroll(data-popup="consult-width-info")
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    button.popup__close--main.js-popup-close
                        <svg xmlns="http://www.w3.org/2000/svg"><path d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
                    .form__wrap.form__wrap--popup
                        form.form(action="").js-form
                            .form__inner
                                span.form__title Записаться на прием
                                .form__info
                                    .form__info-item 
                                        span 26.04.2020
                                        span 12:00 
                                        span Jeternel на Воровского, 13
                                        span Вакуумно-роликовый массаж
                                    .form__info-item
                                        span.form__info-title Специалист
                                        span Филькова Ольга Юрьевна
                                    .form__info-item
                                        span.form__info-title Стоимость
                                        span 2900 руб
                                .form__box
                                    ul.form__group(role="none")
                                        li.form__group-item
                                            label.form__item(for="name")
                                                input(type="text" data-req name="name" autocomplete="off").form__input
                                                span.form__label Имя
                                        li.form__group-item
                                            label.form__item
                                                input(type="text" data-req name="name" autocomplete="off").form__input.js-input-phone.js-phone-mask
                                                span.form__label Телефон
                                    .form__checkbox
                                        .form__item.custom__checkbox-wrap
                                            input(type="checkbox" data-req).custom__checkbox
                                            label.custom__checkbox-label Согласен на обработку персональных данных
                                    button.common__button.common__button--gray-cherry(type="submit") Записаться
    .swiper-scrollbar


section.popup.popup--main.js-popup.js-popup-scroll(data-popup="order-call")
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    button.popup__close--main.js-popup-close
                        <svg xmlns="http://www.w3.org/2000/svg"><path d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
                    .form__wrap.form__wrap--popup
                        form.form(action="").js-form
                            .form__inner
                                span.form__title Заказать обратный звонок
                                .form__box
                                    ul.form__group(role="none")
                                        li.form__group-item
                                            label.form__item(for="name")
                                                input(type="text" data-req name="name" autocomplete="off").form__input
                                                span.form__label Имя
                                        li.form__group-item
                                            label.form__item
                                                input(type="text" data-req name="name" autocomplete="off").form__input.js-input-phone.js-phone-mask
                                                span.form__label Телефон
                                    .form__checkbox
                                        .form__item.custom__checkbox-wrap
                                            input(type="checkbox" data-req).custom__checkbox
                                            label.custom__checkbox-label Согласен на обработку персональных данных
                                    button.common__button.common__button--gray-cherry(type="submit") Заказать
    .swiper-scrollbar

section.popup.popup--main.js-popup.js-popup-scroll(data-popup="review")
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    button.popup__close--main.js-popup-close
                        <svg xmlns="http://www.w3.org/2000/svg"><path d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
                    div.form__wrap.form__wrap--index
                        form.form(action="").js-form
                            .form__inner.form__inner--big
                                span.form__title Оставить отзыв
                                .form__box
                                    .form__container
                                        ul.form__group.form__group--half
                                            li.form__group-item
                                                label.form__item(for="name")
                                                    input(type="text" data-req name="name" autocomplete="off").form__input.form__input--left
                                                    span.form__label.form__label--left Имя
                                            li.form__group-item
                                                label.form__item
                                                    input(type="text" data-req name="name" autocomplete="off").form__input.js-input-phone.js-phone-mask.form__input--left
                                                    span.form__label.form__label--left Телефон
                                            li.form__group-item
                                                label.form__item
                                                    input(type="text" data-req name="email" autocomplete="off").form__input.form__input--left
                                                    span.form__label.form__label--left Email
                                        ul.form__group.form__group--half
                                            li.form__group-item
                                                .form__item.form__item-textarea
                                                    textarea(name="textarea", cols="30", rows="10").form__textarea.required.js-input-textarea Текст отзыва *
                                    .form__checkbox
                                        .form__item.custom__checkbox-wrap
                                            input(type="checkbox" name="checkbox").custom__checkbox.required.js-input-checkbox
                                            label.custom__checkbox-label Согласен на обработку персональных данных
                                    button.common__button.common__button--half.common__button--gray-cherry Отправить отзыв  
    .swiper-scrollbar


section.popup.popup--main.js-popup(data-popup="conslt-whidth-info-free")
    .swiper-wrapper 
            .swiper-slide
                .main__wrap--big
                    .before-after__scroll
                        button.popup__close--main.js-popup-close
                            <svg xmlns="http://www.w3.org/2000/svg"><path d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
                        .form__wrap.form__wrap--popup
                            form.form(action="").js-form
                                .form__inner
                                    span.form__title Записаться на бесплатную консультацию
                                    .form__info
                                        .form__info-item 
                                            span 26.04.2020
                                            span 12:00 
                                            span Jeternel на Воровского, 13
                                            span Вакуумно-роликовый массаж
                                        .form__info-item
                                            span.form__info-title Специалист
                                            span Филькова Ольга Юрьевна
                                        .form__info-item
                                            span.form__info-title Стоимость
                                            span 2900 руб
                                    .form__box
                                        ul.form__group(role="none")
                                            li.form__group-item
                                                label.form__item(for="name")
                                                    input(type="text" data-req name="name" autocomplete="off").form__input
                                                    span.form__label Имя
                                            li.form__group-item
                                                label.form__item
                                                    input(type="text" data-req name="name" autocomplete="off").form__input.js-input-phone.js-phone-mask
                                                    span.form__label Телефон
                                        .form__checkbox
                                            .form__item.custom__checkbox-wrap
                                                input(type="checkbox" data-req).custom__checkbox
                                                label.custom__checkbox-label Согласен на обработку персональных данных
                                        button.common__button.common__button--gray-cherry(type="submit") Записаться

section.before-after__popup.swiper-container.js-popup-scroll
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    h1.main__title Вакуумно-роликовый массаж. До и после
                    .popup__info
                        ul.popup__info-list
                            li.popup__info-item
                                span.popup__info-title Проблема
                                a.popup__info-link 
                                    span Возрастные изменения фигуры
                            li.popup__info-item
                                span.popup__info-title Пол
                                a.popup__info-link 
                                    span Женский
                            li.popup__info-item
                                span.popup__info-title Услуга
                                a.popup__info-link 
                                    span Механическая дермотония
                            li.popup__info-item
                                span.popup__info-title Аппарат
                                a.popup__info-link 
                                    span «5 в 1»
                    .before-after__popup-container
                        .before-after__part(style="background-image: url(images/before-after/01-before.jpg)")
                            span.before-after__desc До
                        .before-after__part(style="background-image: url(images/before-after/01-after.jpg)")
                            span.before-after__desc После
                    section.gallery
                        .main__content.gallery__content
                            h2.gallery__title Jeternel сегодня 
                            ul.gallery__list
                                li 
                                    |Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний;
                                li
                                    |Комплексный сервис: от базового ухода до революционных косметологических новаций;
                                li 
                                    |Самое большое количество оригинального оборудования для эстетической медицины в Челябинске;
                                li 
                                    |Самый широкий выбор косметологических препаратов последнего поколения;
                                li 
                                    |Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира;
                                li
                                    |Высокий уровень сервиса в соответствии с мировыми стандартами.
                            p Группа компаний Jeternel стоит на страже красоты и здоровья с 1998 года. В 2009 году самые передовые и прогрессивные технологии в косметологии были выделены в отдельное направление работы. Так появилась Лаборатория красоты Jeternel.
                            p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Комплексный сервис: от базового ухода до революционных косметологических новаций. Самое большое количество оригинального оборудования для эстетической медицины в Челябинске. Самый широкий выбор косметологических препаратов последнего поколения. Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                            p Все аппараты и косметические средства имеют необходимые лицензии, сертификаты качества и регистрационные удостоверения.
                        .gallery__inner.js-gallery
                            a(href="images/today/today1.png" style="background-image: url(images/today/today1.png)").gallery__item
                                img(src="images/today/today1.png" alt="gallery1")
                            a(href="images/today/today2.png" style="background-image: url(images/today/today2.png)").gallery__item
                                img(src="images/today/today2.png" alt="gallery2")
                            a(href="images/today/today3.png" style="background-image: url(images/today/today3.png)").gallery__item
                                img(src="images/today/today3.png" alt="gallery3")
                            a(href="images/today/today4.png" style="background-image: url(images/today/today4.png)").gallery__item
                                img(src="images/today/today4.png" alt="gallery4")
                            a(href="images/today/today5.png" style="background-image: url(images/today/today5.png)").gallery__item
                                img(src="images/today/today5.png" alt="gallery5")
                            a(href="images/today/today6.png" style="background-image: url(images/today/today6.png)").gallery__item
                                img(src="images/today/today6.png" alt="gallery6")
                            a(href="images/today/today7.png" style="background-image: url(images/today/today7.png)").gallery__item
                                img(src="images/today/today7.png" alt="gallery7")
                            a(href="https://www.youtube.com/embed/E83DVERrmUk?autoplay=1&amp;loop=1&amp;mute=1&amp" style="background-image: url(images/today/today1.png)").gallery__item
                                <iframe src="https://www.youtube.com/embed/E83DVERrmUk?autoplay=1&amp;loop=1&amp;mute=1&amp" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    .popup__close
                        button.common__button.common__button--gray-cherry.js-close-popup Закрыть
                    button.btn__close.js-close-popup
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#382f2d" d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
    .swiper-scrollbar

section.popup.popup--main.js-popup.js-popup-scroll(data-popup="search")
    .swiper-wrapper 
        .swiper-slide
            .main__wrap--big
                .before-after__scroll
                    button.popup__close--main.js-popup-close
                        <svg xmlns="http://www.w3.org/2000/svg"><path d="M.01 23.282l11.285-11.284L.01.714.715.009 12 11.293 23.284.009l.705.705-11.284 11.284 11.284 11.284-.705.705L12 12.703.716 23.987z"/></svg>
                    .form__wrap.form__wrap--popup
                        form.form(action="").js-form-search
                            .form__inner.form__inner--search
                                .form__group-item.form__group-item--search
                                        label.form__item(for="name")
                                            input(type="text").form__input.form__input--search.form__input--left.js-search-input
                                            span.form__label.form__label--left Поиск
                                            button.form__search-button(type='submit' disabled="true")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M447.615 64.386C406.095 22.866 350.892 0 292.175 0s-113.92 22.866-155.439 64.386C95.217 105.905 72.35 161.108 72.35 219.824c0 53.683 19.124 104.421 54.132 144.458L4.399 486.366c-5.864 5.864-5.864 15.371 0 21.236C7.331 510.533 11.174 512 15.016 512s7.686-1.466 10.617-4.399l122.084-122.083c40.037 35.007 90.775 54.132 144.458 54.132 58.718 0 113.919-22.866 155.439-64.386 41.519-41.519 64.385-96.722 64.385-155.439s-22.865-113.92-64.384-155.439zm-21.236 289.643c-74.001 74-194.406 74-268.407 0-74-74-74-194.407 0-268.407 37.004-37.004 85.596-55.5 134.204-55.5 48.596 0 97.208 18.505 134.204 55.5 73.998 73.999 73.998 194.406-.001 268.407z"/></svg>
    .swiper-scrollbar
    

