section.publication
    .publication__inner 
        .publication__top
            h2.block__title Публикации специалиста
            button.common__button.hidden-xs Все публикации специалиста
        .publication__container
            .publication__item
                a(href="#").publication__link
                    .publication__image 
                        img(src="images/pub/pub.png", alt="", srcset="")
                    span.publication__title 
                        | 23 декабря прошел вечер подведения итогов 20-летней деятельности компании Jeternel
                    p.publication__text За долгую работу и вклад в развитие компании врачи и специалисты были награждены знаками Jeternel.
            .publication__item
                a(href="#").publication__link
                    .publication__image 
                        img(src="images/pub/pub2.png", alt="", srcset="")
                    span.publication__title 
                        | Основы здоровой кожи - на бьюти-завтраке - 26 сентября
                    p.publication__text 26 сентября пройдет бьюти #завтраксполипо (проект очаровательной Полины Поповой) в семейном ресторане Sanchos.
            .publication__item
                a(href="#").publication__link
                    .publication__image 
                        img(src="images/pub/pub3.png", alt="", srcset="")
                    span.publication__title 
                        | Jeternel на Воровского, 13
                    p.publication__text Группа компаний Jeternel стоит на страже красоты и здоровья с 1998 года. В 2009 году самые передовые и прогрессивные технологии в косметологии были выделены в отдельное направление работы. Так появилась Лаборатория красоты Jeternel.
        //- .see__more.see__more--gallery.see__more--center
        //-     button.common__button.hidden-lg Все публикации специалиста
