section.quiz__wrap
    .main__wrap.main__wrap--quiz
        .quiz
            button.btn__forward.js-btn(data-tab="prev" disabled) 
                <svg xmlns="http://www.w3.org/2000/svg">
                    <path fill="#fff" d="M.71 17.984l-.7-.692L17.5.002l17.49 17.29-.7.692L17.5 1.386z"/>
                </svg>
            .quiz__count
                span.quiz__count--current.js-quiz-current 1
                span.quiz__count--all.js-quiz-all 
        form(acton="").quiz__inner.js-quiz-form 
            .quiz__step.js-step
                    .quiz__part
                        .quiz__top 
                            h2.quiz__title Выберите область коррекции
                        .quiz__button-inner 
                            button.common__button.common__button--gray-cherry.quiz__button.quiz__button--icon.js-btn(data-tab="next" type="button")
                                img(src="images/quiz/face.png") 
                                span Лицо, голова
                            button.common__button.common__button--gray-cherry.quiz__button.quiz__button--icon.quiz__button.js-btn(data-tab="next" type="button")
                                img(src="images/quiz/body.png")
                                span Тело
            .quiz__step.js-step
                    .quiz__part 
                        .quiz__top
                            h2.quiz__title Какая проблема вас волнует?
                        .quiz__button-inner 
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn(data-tab="next" type="button")  Коррекция фигуры
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn(data-tab="next" type="button") Повышенное потоотделение
            .quiz__step.js-step
                    .quiz__part 
                        .quiz__top
                            h2.quiz__title Какая проблема вас волнует?
                        .quiz__button-inner 
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn.js-btn(data-tab="next" type="button")  Целлюлит
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn.js-btn(data-tab="next" type="button") Жировые отложения
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn.js-btn(data-tab="next" type="button")  Дряблость
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn.js-btn(data-tab="next" type="button") Избыточная масса тела
            .quiz__step.quiz__step--result.js-step
                .quiz__part 
                    .quiz__top
                        h2.quiz__title Какая проблема вас волнует?
                    .quiz__result-inner 
                        .quiz__result.js-slide-button
                            a(href="/problem-item.html").quiz__result-link Detox
                            .quiz__result-box.js-slide
                                p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Оригинальное оборудование и косметологические препараты последнего поколения.
                                p Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                                span.quiz__result-price от 15000 руб
                        .quiz__result.js-slide-button
                            a(href="/problem-item.html").quiz__result-link Озонотерапия
                            .quiz__result-box.js-slide
                                p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Оригинальное оборудование и косметологические препараты последнего поколения.
                                p Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                                span.quiz__result-price от 15000 руб
                        .quiz__result.js-slide-button
                            a(href="/problem-item.html").quiz__result-link Массаж
                            .quiz__result-box.js-slide
                                p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Оригинальное оборудование и косметологические препараты последнего поколения.
                                p Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                                span.quiz__result-price от 15000 руб
                        .quiz__result.js-slide-button
                            a(href="/problem-item.html").quiz__result-link Обертывания
                            .quiz__result-box.js-slide
                                p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Оригинальное оборудование и косметологические препараты последнего поколения.
                                p Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                                span.quiz__result-price от 15000 руб
                        .quiz__result.js-slide-button
                            a(href="/problem-item.html").quiz__result-link Прессотерапия
                            .quiz__result-box.js-slide
                                p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Оригинальное оборудование и косметологические препараты последнего поколения.
                                p Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                                span.quiz__result-price от 15000 руб
                        .quiz__result.js-slide-button
                            a(href="/problem-item.html").quiz__result-link Прессотерапия
                            .quiz__result-box.js-slide
                                p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Оригинальное оборудование и косметологические препараты последнего поколения.
                                p Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                                span.quiz__result-price от Миостимуляция
                    


                    