section.quiz__wrap
    .main__wrap.main__wrap--quiz
        .quiz
            button.btn__forward.js-btn-forward(disabled) 
                <svg xmlns="http://www.w3.org/2000/svg">
                    <path fill="#fff" d="M.71 17.984l-.7-.692L17.5.002l17.49 17.29-.7.692L17.5 1.386z"/>
                </svg>
            .quiz__count
                span.quiz__count--current 1
                span.quiz__count--all 4 
        .quiz__inner 
            .quiz__step.js-step
                    .quiz__part
                        .quiz__top 
                            h2.quiz__title Выберите область коррекции
                        .quiz__button-inner 
                            button.common__button.common__button--gray-cherry.quiz__button.quiz__button--icon.js-btn-next
                                img(src="images/quiz/face.png") 
                                span Лицо, голова
                            button.common__button.common__button--gray-cherry.quiz__button.quiz__button--icon.quiz__button.js-btn-next
                                img(src="images/quiz/body.png")
                                span Тело
            .quiz__step.js-step
                    .quiz__part 
                        .quiz__top
                            h2.quiz__title Какая проблема вас волнует?
                        .quiz__button-inner 
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn-next  Коррекция фигуры
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn-next Повышенное потоотделение
            .quiz__step.js-step
                    .quiz__part 
                        .quiz__top
                            h2.quiz__title Какая проблема вас волнует?
                        .quiz__button-inner 
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn-next  Коррекция фигуры
                            button.common__button.common__button--gray-cherry.quiz__button.js-btn-next Повышенное потоотделение
                    


                    