section.reviews
    h2.block__title Отзывы о центре
    .reviews__inner
        .reviews__item
            .reviews__text 
                p Огромное спасибо Наталье Андреевне за деликатный подход и внимательность к своим пациентам.
                p Приходя в салон, всегда чувствуешь себя как дома.
            .reviews__bottom
                .reviews__tags
                    a(href="#").reviews__tags-item Jeternel на Воровского, 13
                    a(href="#").reviews__tags-item Вебер Наталья Андреевна
                .reviews__info 
                     span Екатерина, 18.03.2020
        .reviews__item
            .reviews__text 
                p Хочу выразить огромную благодарность Ивановой Валерии Олеговне, за ее профессионализм! Делала удаление сосудистых звездочек на лице неодимовым лазером. Была приятно удивлена увидеть результат сразу после процедуры. Доктор все доходчиво объяснил и рассказал какие рекомендации соблюдать после. Спасибо Валерии Олеговне, теперь я ваш постоянный клиент!
            .reviews__bottom
                .reviews__tags
                .reviews__info 
                     span Анастасия, 24.05.2019
        .reviews__item
            .reviews__text 
                p Впервые я была на консультации у врача-косметолога в вашем Центре косметологии на Комсомольском проспекте 48 2 мая 2018. Меня принимала доктор Гува Дженет Мурадовна.
                p Хочется отметить ее внимательность и грамотность. Она очень подробно расспросила меня, провела осмотр, задавала много уточняющих вопросов. Дала рекомендации по курсу коррекции выявленных проблем, посоветовала сдать некоторые анализы. Спасибо Вам огромное! Обязательно приду к вам за красотой!
            .reviews__bottom
                .reviews__tags
                    a(href="#").reviews__tags-item Jeternel на Комсомольском проспекте, 48
                    a(href="#").reviews__tags-item Консультация врача-косметолога
                    a(href="#").reviews__tags-item Гува Дженет Мурадовна
                .reviews__info 
                     span Юлия, 08.05.2019
    .see__more
        button.common__button Все отзывы
    

