ection.sections
    .sections__wrap.sections__wrap--inside
        .sections__inner
            .sections__item
                a(href="#").sections__link
                    span Каталог услуг
                    img(src="images/section/s1.jpg", alt="")
                
            .sections__item
                a(href="#").sections__link
                    span Проблемы
                    img(src="images/section/s2.jpg", alt="")
                
            .sections__item
                a(href="#").sections__link
                    span До и после
                    img(src="images/section/s3.jpg", alt="")
                
            .sections__item
                a(href="#").sections__link
                    span Наши аппараты
                    img(src="images/section/s4.jpg", alt="")
                
