section.sections
    .sections__wrap
        .sections__inner
            .sections__item(style="background-image: url(images/section/s1.jpg)")
                a(href="#").sections__link
                    span Каталог услуг
            .sections__item(style="background-image: url(images/section/s2.jpg)")
                a(href="#").sections__link
                    span Проблемы
            .sections__item(style="background-image: url(images/section/s3.jpg)")
                a(href="#").sections__link
                    span До и после
            .sections__item(style="background-image: url(images/section/s4.jpg)")
                a(href="#").sections__link
                    span Наши аппараты
