section.special
    span.block__title Специалисты
    .special__slider-inner
        .special__slider.js-special-slider.swiper-container
            .swiper-wrapper
                .employers__item.employers__item--slider.swiper-slide
                    a(href="/").employers__link
                        .employers__img
                            img(src="../images/employers/e7.png", alt="")
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                        span.employers__name Никулиина Екатерина Дмитриевна
                        span.employers__position Врач-косметолог
                    .employers__pattern
                        .employers__pattern-item.employers__pattern-item--1
                        .employers__pattern-item.employers__pattern-item--2
                        .employers__pattern-item.employers__pattern-item--3
                .employers__item.employers__item--slider.swiper-slide
                    a(href="/").employers__link
                        .employers__img
                            img(src="../images/employers/e8.png", alt="")
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                        span.employers__name Брюхова Надежда Александровна
                        span.employers__position Врач-косметолог, дерматовенеролог, преподаватель
                    .employers__pattern
                        .employers__pattern-item.employers__pattern-item--1
                        .employers__pattern-item.employers__pattern-item--2
                        .employers__pattern-item.employers__pattern-item--3
                .employers__item.employers__item--slider.swiper-slide
                    a(href="/").employers__link
                        .employers__img
                            img(src="../images/employers/e4.png", alt="")
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                        span.employers__name Герман Фарида Загитовна
                        span.employers__position Врач-дерматовенеролог
                    .employers__pattern
                        .employers__pattern-item.employers__pattern-item--1
                        .employers__pattern-item.employers__pattern-item--2
                        .employers__pattern-item.employers__pattern-item--3
                .employers__item.employers__item--slider.swiper-slide
                    a(href="/").employers__link
                        .employers__img
                            img(src="../images/employers/e7.png", alt="")
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                        span.employers__name Никулиина Екатерина Дмитриевна
                        span.employers__position Врач-косметолог
                    .employers__pattern
                        .employers__pattern-item.employers__pattern-item--1
                        .employers__pattern-item.employers__pattern-item--2
                        .employers__pattern-item.employers__pattern-item--3
                .employers__item.employers__item--slider.swiper-slide
                    a(href="/").employers__link
                        .employers__img
                            img(src="../images/employers/e8.png", alt="")
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                        span.employers__name Брюхова Надежда Александровна
                        span.employers__position Врач-косметолог, дерматовенеролог, преподаватель
                    .employers__pattern
                        .employers__pattern-item.employers__pattern-item--1
                        .employers__pattern-item.employers__pattern-item--2
                        .employers__pattern-item.employers__pattern-item--3
                .employers__item.employers__item--slider.swiper-slide
                    a(href="/").employers__link
                        .employers__img
                            img(src="../images/employers/e4.png", alt="")
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                        span.employers__name Герман Фарида Загитовна
                        span.employers__position Врач-дерматовенеролог
                    .employers__pattern
                        .employers__pattern-item.employers__pattern-item--1
                        .employers__pattern-item.employers__pattern-item--2
                        .employers__pattern-item.employers__pattern-item--3
        .slider__nav.slider__nav--em
            button.slider__nav-item.slider__nav-item--prev
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="35"><path fill="#382f2d" d="M.696 16.8L17.323.01l.693.699L1.39 17.499l16.626 16.79-.693.7L.697 18.2l-.693-.7z"/></svg>   
            button.slider__nav-item.slider__nav-item--next
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="35"><path fill="#382f2d" d="M.698 34.99l-.692-.7L16.602 17.5.006.708l.692-.7L17.985 17.5z"/></svg>

