section.special
    span.block__title Специалисты
    .special__slider-inner
        .special__slider.js-special-slider.swiper-container
            .swiper-wrapper
                .special__item.swiper-slide
                    .special__img 
                        img(src="images/special/special1.png", alt="", srcset="")
                    span.special__title Герман Фарида Загитовна
                    span.special__position Врач-дерматовенеролог
                .special__item.swiper-slide
                    .special__img 
                        img(src="images/special/special2.png", alt="", srcset="")
                    span.special__title Подивилова Оксана Валерьевна
                    span.special__position Врач-косметолог
                .special__item.swiper-slide
                    .special__img 
                        img(src="images/special/special3.png", alt="", srcset="")
                    span.special__title Сарыгина Любовь Андреевна
                    span.special__position Врач-косметолог
                .special__item.swiper-slide
                    .special__img 
                        img(src="images/special/special1.png", alt="", srcset="")
                    span.special__title Герман Фарида Загитовна
                    span.special__position Врач-дерматовенеролог
                .special__item.swiper-slide
                    .special__img 
                        img(src="images/special/special2.png", alt="", srcset="")
                    span.special__title Подивилова Оксана Валерьевна
                    span.special__position Врач-косметолог
                .special__item.swiper-slide
                    .special__img 
                        img(src="images/special/special3.png", alt="", srcset="")
                    span.special__title Сарыгина Любовь Андреевна
                    span.special__position Врач-косметолог
        .slider__nav
            button.slider__nav-item.slider__nav-item--prev
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="35"><path fill="#382f2d" d="M.696 16.8L17.323.01l.693.699L1.39 17.499l16.626 16.79-.693.7L.697 18.2l-.693-.7z"/></svg>   
            button.slider__nav-item.slider__nav-item--next
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="35"><path fill="#382f2d" d="M.698 34.99l-.692-.7L16.602 17.5.006.708l.692-.7L17.985 17.5z"/></svg>

