
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/lightbox.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Центр косметологии Jeternel
    body.content.js-intro-is-shown
        div(style="display: none")
            include ../../build/images/sprite.svg
        header.head.head--inside
            div.burger-menu
                div.burger-menu__decoration
                    svg(width="562" height="552")
                        use(xlink:href="#logo-sign")
                div.burger-menu__container
                    div.burger-menu__top
                        a(href="/index.html").logo.logo--inside.burger-menu__logo
                            svg(width="51" height="50")
                                use(xlink:href="#logo-sign")
                            span.logo__description
                                |Cеть медицинских центров косметологии Jeternel
                        aside.burger-menu__aside
                            div.helpers
                                button.helpers__button(data-open="consult")
                                    svg(width="23" height="23")
                                        use(xlink:href="#pen-icon")
                                button.helpers__button
                                    svg(width="22" height="22")
                                        use(xlink:href="#search-icon")
                                button.helpers__button.helpers__button--special.js-version-button(onclick="uvcl()")
                                    svg(width="26" height="22")
                                        use(xlink:href="#glass-icon")
                    div.burger-menu__bottom
                        nav.sitemap.burger-menu__sitemap
                            ul.sitemap__section-list
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Услуги
                                    div.sitemap__subsection
                                        ul.sitemap__subsection-list
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Диагностика
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Косметология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Дерматология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Управление возрастом и здоровье
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Эндокринология и диетология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Трихология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Терапия
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Beauty акцент
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Косметология для мужчин
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Проблемы
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |До и после
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Акции
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |О компании
                                    div.sitemap__subsection
                                        ul.sitemap__subsection-list
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Сотрудники
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |О лаборатории
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Лицензии и достижения
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Отзывы
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Наша атмосфера
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Вакансии
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Новости
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Аппараты
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Вопросы и ответы
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Блог
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Контактная информация
                        div.burger-menu__contacts
                            ul.burger-menu__contacts-list
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Единый номер
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-55-55
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Братьев Кашириных, 131б
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-50
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Воровского, 13
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-10
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Комсомольский проспект, 48
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-50
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |проспект Ленина, 66
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-20
            div.burger.head__burger
                div.burger__default
                div.burger__crossed
            a(href="/index.html").logo.logo--inside
                svg(width="51" height="50")
                    use(xlink:href="#logo-sign")
                span.logo__description
                    |Cеть медицинских центров косметологии Jeternel
            nav.head__navigation
                ul.head__navigation-list
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Услуги
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Акции
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Проблемы
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Прайс
            aside.head__aside
                a.head__phone(href="tel:")
                    |+7 351 225-55-55
                div.helpers
                    button.helpers__button(data-open="consult")
                        svg(width="23" height="23")
                            use(xlink:href="#pen-icon")
                    button.helpers__button
                        svg(width="22" height="22")
                            use(xlink:href="#search-icon")
                    button.helpers__button.helpers__button--special.js-version-button(onclick="uvcl()")
                        svg(width="26" height="22")
                            use(xlink:href="#glass-icon")
        main.main
            .main__wrap--biggest
                .container
                    section.breadcumbs
                        ul.breadcumbs__list
                            li.breadcumbs__item
                                a.breadcumbs__link
                                    span Главная
                            li.breadcumbs__item
                                span Контактная информация
                    h1.main__title Контактная информация
                    ul.contacts
                        li.contacts__item
                            a.contacts__link(href="#")
                                span Лаборатория красоты Jeternel на Воровского, 13
                            .branch__info.branch__info--contacts
                                span.branch__info-phone +7 351 225-75-50
                                span.branch__info-time 09:00 – 21:00
                            span.contacts__info Обращаем внимание, 1 и 2 января 2021 года филиал не будет работать.
                        li.contacts__item
                            a.contacts__link(href="#")
                                span Центр косметологии Jeternel на Комсомольском проспекте, 48
                            .branch__info.branch__info--contacts
                                span.branch__info-phone +7 351 225-75-50
                                span.branch__info-time 09:00 – 21:00
                        li.contacts__item
                            a.contacts__link(href="#")
                                span Центр косметологии Jeternel на проспекте Ленина, 66
                            .branch__info.branch__info--contacts
                                span.branch__info-phone +7 351 225-75-50
                            span.contacts__info Обращаем внимание, филиал временно не работает. 
                        li.contacts__item
                            a.contacts__link(href="#")
                                span Центр косметологии Jeternel на Братьев Кашириных, 131Б
                            .branch__info.branch__info--contacts
                                span.branch__info-phone +7 351 225-75-50
            div#map.location__map.location__map--full
            .main__wrap--biggest
                .container
                    section.requisites
                        h2.requisites__title Реквизиты ООО «Вдохновение»
                        ul.requisites__list 
                            li.requisites__item
                                span.requisites__item-title ИНН:
                                span.requisites__item-info 7451268934
                            li.requisites__item
                                span.requisites__item-title КПП:
                                span.requisites__item-info 745101001
                            li.requisites__item
                                span.requisites__item-title ОГРН:
                                span.requisites__item-info 1087451008798
                            li.requisites__item
                                span.requisites__item-title БИК:
                                span.requisites__item-info 047501602 к/с 3010 1810 7000 0000 0602 
                            li.requisites__item
                                span.requisites__item-title р/с:
                                span.requisites__item-info 4070 2810 6720 0002 4621 в Челябинске ОСБ №8597, г. Челябинск 
            include components/form.pug
                
        //= partials/footer.pug
        div.intro-curtain
        include components/popups.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js" type="text/javascript")
