doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/lightbox.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Центр косметологии Jeternel
    body.content.js-intro-is-shown
        div(style="display: none")
            include ../../build/images/sprite.svg
        header.head.head--inside
            div.burger-menu
                div.burger-menu__decoration
                    svg(width="562" height="552")
                        use(xlink:href="#logo-sign")
                div.burger-menu__container
                    div.burger-menu__top
                        a(href="/index.html").logo.logo--inside.burger-menu__logo
                            svg(width="51" height="50")
                                use(xlink:href="#logo-sign")
                            span.logo__description
                                |Cеть медицинских центров косметологии Jeternel
                        aside.burger-menu__aside
                            div.helpers
                                button.helpers__button(data-open="consult")
                                    svg(width="23" height="23")
                                        use(xlink:href="#pen-icon")
                                button.helpers__button
                                    svg(width="22" height="22")
                                        use(xlink:href="#search-icon")
                                button.helpers__button.helpers__button--special.js-version-button(onclick="uvcl()")
                                    svg(width="26" height="22")
                                        use(xlink:href="#glass-icon")
                    div.burger-menu__bottom
                        nav.sitemap.burger-menu__sitemap
                            ul.sitemap__section-list
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Услуги
                                    div.sitemap__subsection
                                        ul.sitemap__subsection-list
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Диагностика
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Косметология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Дерматология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Управление возрастом и здоровье
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Эндокринология и диетология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Трихология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Терапия
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Beauty акцент
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Косметология для мужчин
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Проблемы
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |До и после
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Акции
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |О компании
                                    div.sitemap__subsection
                                        ul.sitemap__subsection-list
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Сотрудники
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |О лаборатории
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Лицензии и достижения
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Отзывы
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Наша атмосфера
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Вакансии
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Новости
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Аппараты
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Вопросы и ответы
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Блог
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Контактная информация
                        div.burger-menu__contacts
                            ul.burger-menu__contacts-list
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Единый номер
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-55-55
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Братьев Кашириных, 131б
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-50
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Воровского, 13
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-10
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Комсомольский проспект, 48
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-50
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |проспект Ленина, 66
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-20
            div.burger.head__burger
                div.burger__default
                div.burger__crossed
            a(href="/index.html").logo.logo--inside
                svg(width="51" height="50")
                    use(xlink:href="#logo-sign")
                span.logo__description
                    |Cеть медицинских центров косметологии Jeternel
            nav.head__navigation
                ul.head__navigation-list
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Услуги
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Акции
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Проблемы
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Прайс
            aside.head__aside
                a.head__phone(href="tel:")
                    |+7 351 225-55-55
                div.helpers
                    button.helpers__button(data-open="consult")
                        svg(width="23" height="23")
                            use(xlink:href="#pen-icon")
                    button.helpers__button
                        svg(width="22" height="22")
                            use(xlink:href="#search-icon")
                    button.helpers__button.helpers__button--special.js-version-button(onclick="uvcl()")
                        svg(width="26" height="22")
                            use(xlink:href="#glass-icon")
        main.main
            .main__wrap.main__wrap--big
                .container
                    section.breadcumbs
                        ul.breadcumbs__list
                            li.breadcumbs__item
                                a.breadcumbs__link
                                    span Главная
                            li.breadcumbs__item
                                a.breadcumbs__link
                                    span О компании
                            li.breadcumbs__item
                                span Сотрудники
                    h1.main__title.main__title--inside Сотрудники
                    section.employers
                        .employers__box
                            h2.employers__title Руководство
                            .employers__wrap
                                .employers__inner
                                    .employers__item
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e1.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Байбурина Ирина Владимировна
                                            span.employers__position Генеральный директор
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e2.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Шеповалова Ирина Анатольевна
                                            span.employers__position Директор
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e3.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Филькова Ольга Юрьевна
                                            span.employers__position Главный врач
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                        .employers__box
                            h2.employers__title Врачи
                            .filters
                                ul.filters__list
                                    li.filters__item
                                        button.filters__button.js-filters__button Все
                                    li.filters__item
                                        button.filters__button.js-filters__button(data-filter-info="Воровского, 13") Воровского, 13
                                    li.filters__item
                                        button.filters__button.js-filters__button(data-filter-info="Комсомольский проспект, 48") Комсомольский проспект, 48
                                    li.filters__item
                                        button.filters__button.js-filters__button(data-filter-info="Проспект Ленина, 66") Проспект Ленина, 66
                                    li.filters__item
                                        button.filters__button.js-filters__button(data-filter-info="Братьев Кашириных, 131Б") Братьев Кашириных, 131Б
                            .employers__wrap
                                .employers__inner
                                    .employers__item.js-employers__item(data-filter="Братьев Кашириных, 131Б")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e4.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Герман Фарида Загитовна
                                            span.employers__position Врач-дерматовенеролог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Проспект Ленина, 66")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e5.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Подивилова Оксана Валерьевна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Проспект Ленина, 66")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e6.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Сарыгина Любовь Андреевна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Воровского, 13")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e7.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Никулиина Екатерина Дмитриевна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Все")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e8.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Брюхова Надежда Александровна
                                            span.employers__position Врач-косметолог, дерматовенеролог, преподаватель
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Комсомольский проспект, 48")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e9.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Жубоева Аминат Руслановна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Комсомольский проспект, 48")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e4.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Герман Фарида Загитовна
                                            span.employers__position Врач-дерматовенеролог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Проспект Ленина, 66")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e5.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Подивилова Оксана Валерьевна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Проспект Ленина, 66")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e6.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Сарыгина Любовь Андреевна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Воровского, 13")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e7.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Никулиина Екатерина Дмитриевна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Комсомольский проспект, 48")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e8.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Брюхова Надежда Александровна
                                            span.employers__position Врач-косметолог, дерматовенеролог, преподаватель
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
                                    .employers__item.js-employers__item(data-filter="Воровского, 13")
                                        a(href="#").employers__link
                                            .employers__img
                                                img(src="../images/employers/e9.png", alt="")
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 227.5"><path d="M375 25.5c-72.2 37.6-120.3 34-184.8.4C121.7-9.7 65.8-7.7 0 26.5v201h375v-202z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                            span.employers__name Жубоева Аминат Руслановна
                                            span.employers__position Врач-косметолог
                                        .employers__pattern
                                            .employers__pattern-item.employers__pattern-item--1
                                            .employers__pattern-item.employers__pattern-item--2
                                            .employers__pattern-item.employers__pattern-item--3
            include components/form.pug 
            .main__wrap--big
                .container
                    include components/sections.pug 
                    section.gallery
                        .main__content.gallery__content
                            h2.gallery__title Jeternel сегодня 
                            ul.gallery__list
                                li 
                                    |Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний;
                                li
                                    |Комплексный сервис: от базового ухода до революционных косметологических новаций;
                                li 
                                    |Самое большое количество оригинального оборудования для эстетической медицины в Челябинске;
                                li 
                                    |Самый широкий выбор косметологических препаратов последнего поколения;
                                li 
                                    |Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира;
                                li
                                    |Высокий уровень сервиса в соответствии с мировыми стандартами.
                            p Группа компаний Jeternel стоит на страже красоты и здоровья с 1998 года. В 2009 году самые передовые и прогрессивные технологии в косметологии были выделены в отдельное направление работы. Так появилась Лаборатория красоты Jeternel.
                            p Лучшие мировые технологии омоложения, коррекции эстетических недостатков и лечения кожных заболеваний. Комплексный сервис: от базового ухода до революционных косметологических новаций. Самое большое количество оригинального оборудования для эстетической медицины в Челябинске. Самый широкий выбор косметологических препаратов последнего поколения. Ведущие профессионалы города, прошедшие стажировку в лучших клиниках России и мира. Высокий уровень сервиса в соответствии с мировыми стандартами.
                            p Все аппараты и косметические средства имеют необходимые лицензии, сертификаты качества и регистрационные удостоверения.
                        .gallery__inner.js-gallery
                            a(href="images/today/today1.png" style="background-image: url(images/today/today1.png)").gallery__item
                                img(src="images/today/today1.png" alt="gallery1")
                            a(href="images/today/today2.png" style="background-image: url(images/today/today2.png)").gallery__item
                                img(src="images/today/today2.png" alt="gallery2")
                            a(href="images/today/today3.png" style="background-image: url(images/today/today3.png)").gallery__item
                                img(src="images/today/today3.png" alt="gallery3")
                            a(href="images/today/today4.png" style="background-image: url(images/today/today4.png)").gallery__item
                                img(src="images/today/today4.png" alt="gallery4")
                            a(href="images/today/today5.png" style="background-image: url(images/today/today5.png)").gallery__item
                                img(src="images/today/today5.png" alt="gallery5")
                            a(href="images/today/today6.png" style="background-image: url(images/today/today6.png)").gallery__item
                                img(src="images/today/today6.png" alt="gallery6")
                            a(href="images/today/today7.png" style="background-image: url(images/today/today7.png)").gallery__item
                                img(src="images/today/today7.png" alt="gallery7")
                            a(href="https://www.youtube.com/embed/E83DVERrmUk?autoplay=1&amp;loop=1&amp;mute=1&amp" style="background-image: url(images/today/today1.png)").gallery__item
                                <iframe src="https://www.youtube.com/embed/E83DVERrmUk?autoplay=1&amp;loop=1&amp;mute=1&amp" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        //= partials/footer.pug
        div.intro-curtain
        include components/popups.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js" type="text/javascript")
