
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/lightbox.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Центр косметологии Jeternel
    body.content.js-intro-is-shown
        div(style="display: none")
            include ../../build/images/sprite.svg
        header.head.head--inside
            div.burger-menu
                div.burger-menu__decoration
                    svg(width="562" height="552")
                        use(xlink:href="#logo-sign")
                div.burger-menu__container
                    div.burger-menu__top
                        a(href="/index.html").logo.logo--inside.burger-menu__logo
                            svg(width="51" height="50")
                                use(xlink:href="#logo-sign")
                            span.logo__description
                                |Cеть медицинских центров косметологии Jeternel
                        aside.burger-menu__aside
                            div.helpers
                                button.helpers__button(data-open="consult")
                                    svg(width="23" height="23")
                                        use(xlink:href="#pen-icon")
                                button.helpers__button
                                    svg(width="22" height="22")
                                        use(xlink:href="#search-icon")
                                button.helpers__button.helpers__button--special.js-version-button(onclick="uvcl()")
                                    svg(width="26" height="22")
                                        use(xlink:href="#glass-icon")
                    div.burger-menu__bottom
                        nav.sitemap.burger-menu__sitemap
                            ul.sitemap__section-list
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Услуги
                                    div.sitemap__subsection
                                        ul.sitemap__subsection-list
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Диагностика
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Косметология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Дерматология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Управление возрастом и здоровье
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Эндокринология и диетология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Трихология
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Терапия
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Beauty акцент
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Косметология для мужчин
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Проблемы
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |До и после
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Акции
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |О компании
                                    div.sitemap__subsection
                                        ul.sitemap__subsection-list
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Сотрудники
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |О лаборатории
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Лицензии и достижения
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Отзывы
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Наша атмосфера
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Вакансии
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Новости
                                            li.sitemap__subsection-item
                                                a.sitemap__subsection-link(href="")
                                                    |Аппараты
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Вопросы и ответы
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Блог
                                li.sitemap__section-item
                                    a.sitemap__section-link(href="")
                                        |Контактная информация
                        div.burger-menu__contacts
                            ul.burger-menu__contacts-list
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Единый номер
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-55-55
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Братьев Кашириных, 131б
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-50
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Воровского, 13
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-10
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |Комсомольский проспект, 48
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-50
                                li.burger-menu__contacts-item
                                    span.burger-menu__address
                                        |проспект Ленина, 66
                                    a.burger-menu__phone(href="tel:")
                                        |+7 351 225-75-20
            div.burger.head__burger
                div.burger__default
                div.burger__crossed
            a(href="/index.html").logo.logo--inside
                svg(width="51" height="50")
                    use(xlink:href="#logo-sign")
                span.logo__description
                    |Cеть медицинских центров косметологии Jeternel
            nav.head__navigation
                ul.head__navigation-list
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Услуги
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Акции
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Проблемы
                    li.head__navigation-item
                        a.head__navigation-link(href="")
                            |Прайс
            aside.head__aside
                a.head__phone(href="tel:")
                    |+7 351 225-55-55
                div.helpers
                    button.helpers__button(data-open="consult")
                        svg(width="23" height="23")
                            use(xlink:href="#pen-icon")
                    button.helpers__button
                        svg(width="22" height="22")
                            use(xlink:href="#search-icon")
                    button.helpers__button.helpers__button--special.js-version-button(onclick="uvcl()")
                        svg(width="26" height="22")
                            use(xlink:href="#glass-icon")
        main.main
            .main__wrap--biggest
                .container
                    section.breadcumbs
                        ul.breadcumbs__list
                            li.breadcumbs__item
                                a.breadcumbs__link
                                    span Главная
                            li.breadcumbs__item
                                span Вопросы и ответы
                    .faq__title-inner
                        h1.main__title Вопросы и ответы
                        button.common__button(data-open="order-call") Задать вопрос
                    section.faq.faq--index
                        .faq__inner
                            .faq__item.js-faq-item 
                                .faq__box.js-open-faq
                                    button.faq__title 
                                        span Как правильно пользоваться масками для лица? Как часто ими можно пользоваться?
                                    .faq__container 
                                        p.faq__text Обычно маски для лица делают 1-2 раза в неделю, а в целях профилактики — 1 раз в десять дней. Если нужно усиленное воздействие на истощенную и проблемную кожу, то частоту применения увеличивают до 3 раз в неделю или делают курс масок.
                                        .faq__bottom
                                            .faq__auth
                                                .faq__auth-profile(style="background-image: url(images/faq.png)")
                                                .faq__auth-inner
                                                    span.faq__auth-name Константинопольская Ольга
                                                    span.faq__auth-position врач-косметолог
                                            .faq__date 
                                                span 18.03.2020
                            .faq__item.js-faq-item 
                                .faq__box.js-open-faq
                                    button.faq__title 
                                        span Как происходит естественное очищение кожи?
                                    .faq__container 
                                        p.faq__text Обычно маски для лица делают 1-2 раза в неделю, а в целях профилактики — 1 раз в десять дней. Если нужно усиленное воздействие на истощенную и проблемную кожу, то частоту применения увеличивают до 3 раз в неделю или делают курс масок.
                                        .faq__bottom
                                            .faq__auth
                                                .faq__auth-profile(style="background-image: url(images/faq.png)")
                                                .faq__auth-inner
                                                    span.faq__auth-name Константинопольская Ольга
                                                    span.faq__auth-position врач-косметолог
                                            .faq__date 
                                                span 18.03.2020
                            .faq__item.js-faq-item
                                .faq__box.js-open-faq
                                    button.faq__title 
                                        span Косметологические процедуры улучшают внешний вид. Не создают ли они других, скрытых проблем?
                                    .faq__container 
                                        p.faq__text Обычно маски для лица делают 1-2 раза в неделю, а в целях профилактики — 1 раз в десять дней. Если нужно усиленное воздействие на истощенную и проблемную кожу, то частоту применения увеличивают до 3 раз в неделю или делают курс масок.
                                        .faq__bottom
                                            .faq__date 
                                                span 18.03.2020
                        .faq__button.faq__button--center
                            button.common__button Показать еще
            section.form__wrap
                form.form(action="").js-form
                    .form__inner
                        span.form__title Задать вопрос
                        .form__box
                            ul.form__group(role="none")
                                li.form__group-item
                                    label.form__item(for="name")
                                        input(type="text" data-req name="name" autocomplete="off").form__input
                                        span.form__label Имя
                                li.form__group-item
                                    label.form__item
                                        input(type="text" data-req name="name" autocomplete="off").form__input.js-input-phone.js-phone-mask
                                        span.form__label Телефон
                            .form__checkbox
                                .form__item.custom__checkbox-wrap
                                    input(type="checkbox" data-req).custom__checkbox
                                    label.custom__checkbox-label Согласен на обработку персональных данных
                            button.common__button.common__button--gray-cherry(type="submit") Задать вопрос
        //= partials/footer.pug
        div.intro-curtain
        include components/popups.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js" type="text/javascript")
