doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="style/normalize.css")
        link(rel="stylesheet" href="style/main.css")
        title Центр косметологии Jeternel
    body
        main
            section
                ul
                    li
                        a.common-link(href="index.html")
                            |Главная
                    li        
                        a.common-link(href="default.html")
                            |Типовая
                    li        
                        a.common-link(href="about.html")
                            |О компании
                    li        
                        a.common-link(href="employers.html")
                            |Сотрудники
                    li        
                        a.common-link(href="employers-inside.html")
                            |Страница сотрудника
                    li        
                        a.common-link(href="blog-categories.html")
                            |Катагории блога
                    li        
                        a.common-link(href="blog-article.html")
                            |Разделы блога
                    li        
                        a.common-link(href="blog-item.html")
                            |Страница блога

            