doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="style/normalize.css")
        link(rel="stylesheet" href="style/main.css")
        title Центр косметологии Jeternel
    body
        main
            section
                ul
                    li
                        a.common-link(href="index.html")
                            |Главная
                    li        
                        a.common-link(href="default.html")
                            |Типовая
                    li        
                        a.common-link(href="default-with-quiz.html")
                            |Типовая с квизом
                    li        
                        a.common-link(href="about.html")
                            |О компании
                    li        
                        a.common-link(href="employers.html")
                            |Сотрудники
                    li        
                        a.common-link(href="employers-inside.html")
                            |Страница сотрудника
                    li        
                        a.common-link(href="blog-categories.html")
                            |Катагории блога
                    li        
                        a.common-link(href="blog-article.html")
                            |Разделы блога
                    li        
                        a.common-link(href="blog-item.html")
                            |Страница блога
                    li        
                        a.common-link(href="404.html")
                            |404
                    li        
                        a.common-link(href="branch.html")
                            |Филиалы
                    li        
                        a.common-link(href="branch-item.html")
                            |Страница филиала
                    li        
                        a.common-link(href="contacts.html") 
                            |Контакты
                    li        
                        a.common-link(href="faq.html") 
                            |Часто задаваемые вопросы
                    li        
                        a.common-link(href="reviews.html") 
                            |Отзывы
                    li        
                        a.common-link(href="equipment.html") 
                            |Аппараты
                    li        
                        a.common-link(href="equipment-item.html") 
                            |Страница аппарата
                    li        
                        a.common-link(href="problem.html") 
                            |Категория проблем
                    li        
                        a.common-link(href="problem-item.html") 
                            |Разделы проблем
                    li        
                        a.common-link(href="problem-inner.html") 
                            |Страница проблема
                    li        
                        a.common-link(href="services-list.html") 
                            |Список услуг
                    li        
                        a.common-link(href="services-underlist-1lvl.html") 
                            |Подразделы
                    li        
                        a.common-link(href="services-item.html") 
                            |Страница услуги
                    li        
                        a.common-link(href="service-item-2lvl.html") 
                            |Страница услуги 2 уровень
                    li        
                        a.common-link(href="before-after.html") 
                            |До/После

                    
                    


            