// Общие цвета
black = #382f2d
white = #ffffff
default-cherry = #5c2d32
bright-cherry = #7c3d44
gray-cherry = #623237
dark-cherry = #53282d
milk-cherry = #c39da1
light-gray = #f1f1f1
middle-gray = #aaaaaa
default-gray = #fafafa

// Шрифты
serif = "Cormorant"
default = "Helvetica-Neue"


// Разрешения
desktop-medium = "(max-width: 1680px)"
desktop-small = "(max-width: 1580px)"
laptop = "(max-width: 1480px)"
tablet-landscape-large = "(max-width: 1300px)"
tablet-landscape-medium = "(max-width: 1200px)"
tablet-landscape-small = "(max-width: 1100px)"
tablet-hor = "(max-width: 1024px)"
tablet-portrait = "(max-width: 960px)"
phone-portrait = "(max-width: 768px)"
phone = "(max-width: 600px)"