@keyframes sticky-header
    0%
        transform translateY(-100%)
    100%
        transform translateY(0)

@keyframes advantages-decoration-rotation
    0%
        transform translate(-50%, -50%) rotate(0deg)
    100%
        transform translate(-50%, -50%) rotate(360deg)
    

@keyframes services-decoration-rotation
    0%
        transform rotate(0deg)
    100%
        transform rotate(360deg)



@keyframes slide-content-animation
    0%
        top 20px
        opacity 0
    40%
        top 20px
        opacity 0
    100%
        top 0
        opacity 1

@keyframes arrow-down-hover
    0%
        opacity 1
        top 50%
    45%
        opacity 0
        top 100%
    55%
        opacity 0
        top 0
    100%
        opacity 1
        top 50%

@keyframes arrow-up-hover
    0%
        opacity 1
        top 50%
    45%
        opacity 0
        top 0%
    55%
        opacity 0
        top 100%
    100%
        opacity 1
        top 50%

@keyframes fly--1
    0% 
        transform: translate(32vw, 57vh)
    100%
        transform translate(55vw, -10vh)

@keyframes fly--2
    0% 
        transform: translate(32vw, 57vh)
        opacity 0
    10%
        opacity .3
    25%
        opacity 1
    100%
        transform translate(100vw, -15vh)

@keyframes fly--3
    0% 
        transform: translate(32vw, 57vh)
        opacity 0
    10%
        opacity .3
    25%
        opacity 1
    100%
        transform translate(100vw, 84vh)

@keyframes fly--4
    0% 
        transform: translate(32vw, 54vh)
        opacity 0
    10%
        opacity .3
    25%
        opacity 1
    100%
        transform translate(50vw, 140vh)

@keyframes fly--5
    0% 
        transform: translate(32vw, 54vh)
        opacity 0
    10%
        opacity .5
    100%
        transform translate(100vw, 30vh)
        opacity 1

@keyframes rotate 
    0%
        transform: rotate(05deg)
    25%
      transform: rotate(-15deg)  
    50%
        transform: rotate(0deg)  
    75%
        transform: rotate(25deg)
    100%
        transform: rotate(0deg) 


    




    
